{% extends "base.html" %}
{% block content %}
<section class="about-page">
    <h1>Giới thiệu</h1>
    <p>Đây là một trang web rút gọn link và tạo đề thi trực tuyến, được phát triển bởi nhóm học sinh, sinh viên yêu thích lập trình.</p>
    <p>Mục đích của trang web là cung cấp các đề thi Tin học sau:</p>
    <ul>
        <li>Đề thi tuyển sinh 10 chuyên tin của các tỉnh/thành</li>
        <li>Đề thi học sinh giỏi Tin học THCS cấp tỉnh</li>
        <li>Đề thi học sinh giỏi Tin học THPT cấp tỉnh</li>
        <li>Đề thi học sinh giỏi Tin học chọn đội tuyển thi HSG Quốc gia của các tỉnh</li>
        <li>Đề thi học sinh giỏi Tin học cấp quốc gia</li>
        <li>Đề thi học sinh giỏi Tin học Duyên Hải Bắc Bộ</li>
        <li>Đề thi học sinh giỏi Tin học Olympic truyền thống 30/4</li>
    </ul>
    <p>Đề thi được đội ngũ quản trị viên sưu tầm và biên soạn từ nhiều nguồn khác nhau.</p>
    <p>Trang web phi lợi nhuận, nhằm hỗ trợ học sinh, sinh viên trong việc học tập và ôn luyện môn Tin học.</p>
</section>
{% endblock %}