{% extends "base.html" %}
{% block content %}
    {% if success %}
        {% if "thành công" in success %}
            <div class="alert alert-success alert-dismissible fade show fw-bold" role="alert">
                {{ success }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade show fw-bold" role="alert">
                {{ success }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endif %}

    <div class="container py-2">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card shadow-sm mx-auto" style="max-width: 800px;">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Thêm Link chấm bài:</h4>
                        <form method="post">
                            <div class="mb-3">
                                <label class="form-label" for="title">Đề thi</label>
                                <input id="title" name="title" class="form-control" placeholder="Tiêu đề" value="{{ dethi.title }}" disabled>
                                <input type="hidden" name="code" value="{{ dethi.code }}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="oj">OJ link</label>
                                <input id="oj" name="oj" type="url" class="form-control" placeholder="https://..." value="{{ request.form.oj or '' }}" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}